{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'reservation_app/style.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LibResTool</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
</head>

<body>
{% include "reservation_app/navbar.html" %}

<main>
    {% block content %}
    {% endblock %}
</main>


<footer>
    <div class="footer-copyright text-center">&copy; Developed with ❤️ by
        <a href="https://github.com/philippwulff">P Wulff</a> in Munich.
    </div>
</footer>
</body>
</html>